<div class="row column text-center">
  <h2>Moods</h2>
</div>

<div class="moods">
  <div class="row small-up-2 medium-up-6 text-center">
    <% @moods.each do |mood| %>
      <%= erb(:'moods/moods_bar', {locals: {mood: mood}}) %>
    <% end %>
  </div>  
</div>

<hr>

<div class="row column text-center">
  <h2>Featured Playlists</h2>
</div>

<div class="featured_playlists">
  <div class="row large-up-2 text-center">
    <div class="column">
      <h5>FP1</h5>
      <a href="">
        <img class="thumbnail" src="http://placehold.it/300x400">
      </a>
      <div class="progress">
        <div class="progress-meter" style="width: 25%">
          <p class="progress-meter-text">25% Liked</p>
        </div>
      </div>
    </div>
    <div class="column">
      <h5>FP2</h5>
      <a href="">
        <img class="thumbnail" src="http://placehold.it/300x400">
      </a>
    </div>
    <div class="column">
      <h5>FP3</h5>
      <a href="">
        <img class="thumbnail" src="http://placehold.it/300x400">
      </a>
    </div>
    <div class="column">
      <h5>FP4</h5>
      <a href="">
        <img class="thumbnail" src="http://placehold.it/300x400">
      </a>
    </div>
  </div>
</div>