<hr>
<div class="row column text-center">
  <h2>Moods</h2>
</div>

<div class="row small-up-2 medium-up-3 large-up-6 text-center">
  <div class="column">
    <h5>Happy</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
  <div class="column">
    <h5>Sad</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
  <div class="column">
    <h5>Confusing</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
  <div class="column">
    <h5>Amusing</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href="#" class="button small expanded hollow">Buy</a>
  </div>
</div>

<hr>
<div class="row column text-center">
  <h2>Featured Playlists</h2>
</div>
<div class="row small-up-2 large-up-2 text-center">
  <div class="column">
    <h5>FP1</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href="#" class="button small expanded hollow">Listen</a>
  </div>
  <div class="column">
    <h5>FP2</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href="#" class="button small expanded hollow">Listen</a>
  </div>
  <div class="column">
    <h5>FP3</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href="#" class="button small expanded hollow">Listen</a>
  </div>
  <div class="column">
    <h5>FP4</h5>
    <img class="thumbnail" src="http://placehold.it/300x400">
    <a href="#" class="button small expanded hollow">Listen</a>
  </div>
</div>