<div class="likespagemain">  
  <div class="row large-<%= @podcast.likes.count%> text-center">
    <div class="likesiconsmain">
      <div class="column">
        <h1>Likes</h1>
        <hr>
          <% @users_who_liked = @podcast.likes.collect {|like| User.find_by(id: like.user_id)}%>

          <div class="liked-users">
            <% @users_who_liked.each do |user|%>
                <h5><%= user.name %></h5>
                <a href="#"><img class="thumbnail" src="/images/<%= user.image%>">
                </a>
            <% end %>
          </div>
      </div>
    </div>
  </div>  
</div>