<div class="column">
  <div class="thumbnail">
    <a href="/moods/<%= mood.id %>">
    <div class="mood_list_main">
      <img class="mood_thumb" src="<%= mood.image %>">
      <h4 class="moodtitle"><%= mood.title %></h4>
      </a>
    </div>
  </div>
</div>
