<div class="column">
  <div class="thumbnail">
    <a href="/moods/<%= mood.id %>"><h5><%= mood.title %></h5>
    <div class="mood_list_main">
      <img class="thumbnail" src="<%= mood.image %>"></a>
    </div>
  </div>
</div>
