<li>
  <a href="/playlists/<%= podcast.playlist_id %>/<%= podcast.id%>">
  <%= podcast.title %></a>
</li>

<!-- href="/moods/< %= playlist.mood_id %>/< %= playlist.id %>/< %= playlist.podcasts.first.id -->
