body {
  background-color: #000;
}
#container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container_main {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(../images/stars.jpg);
  /*padding-top: 100px;*/
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
}

.container_main > h1 {
  display: inline;
  /*background-color:rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;*/
}

/*-----The following Selectors effect the Main Index*/
h2 {
  text-shadow: 2px 2px 12px #AAB3AB;
}

h1.mood_title {
    color: #FDFDFD;
    text-shadow: 2px 2px 12px #fff;
    background-color: rgba(63, 101, 130, 0.5);
    border: solid white;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 70px;
    font-size: 70px;
}

h2.fontw {
  color: #fff;
  text-shadow: 2px 2px 12px #040004;
}

.about_content {
  width: 400px;
  height: 320px;
  margin: 0 auto;
  padding: 10px;
  /*border-radius: 20px;
  background-color:rgba(255, 255, 255, 0.7);*/
  text-align: left;
}

.about_content a {
  color: #fff;
}

.about_content a:link {
  float: right;
  padding: 10px;
  background-color: #2199e8;
  font-size: 14px;
}

.about_content a:hover {
  opacity: .85;
  transition: visibility 0s .25s, opacity .25s linear;
}

.nametilt {
  font-family:impact;
  color:#ff0000;
  padding:2px;
  border:dashed;
  border-color:#ff0000;
  position:relative;
  -webkit-transform: rotate(20deg);
}

.profile_main {
  width: 100%;
  height: 100%;
  clear: both;
  margin: 0;
  background-image: url(../images/roadrocks.jpg);
  background-repeat: repeat-x;
  /*padding-top: 100px;*/
  text-align: center;
  color: #fff;
}

.uploader_form_container {
  float: right;
}

.upload_button {
  /*display: inline-block;
  max-width: 250px;
  overflow: hidden;
  cursor: pointer;*/
  padding: 10px;
  background-color: #2199e8;
  font-size: 14px;
  border: none;
}

.upload_button:hover {
  opacity: .85;
  transition: visibility 0s .25s, opacity .25s linear;
}

.indmood {
  display: inline-block;
}

.large-6 {
  width: 100%;
}


.moods_page {
  width: 100%;
  height: 100%;
  clear: both;
  margin: 0;
  background-image: url(../images/hoodlookout.jpg);
  background-repeat: repeat-x;
  /*padding-top: 100px;*/
  text-align: center;
  color: #fff;
}

.moods {
  padding-left: 150px;
  padding-right: 150px;
}


.moods_main {
  width: 100%;
  height: 100%;
  clear: both;
  margin: 0;
  background-image: url(../images/evening-ride.jpg);
  background-repeat: repeat-x;
  /*padding-top: 100px;*/
  text-align: center;
  color: #fff;
  padding-left: 150px;
  padding-right: 150px;
}


.moods_indv_main {
  width: 100%;
  height: 100%;
  clear: both;
  margin: 0;
  background-image: url(../images/frostytips.jpg);
  background-repeat: repeat-x;
  /*padding-top: 100px;*/
  text-align: center;
  color: #fff;
}

.feat {
  background-color: rgba(255,255,255,0.5);
  padding: 50px;
  display: inline-block;
  margin: 25px;
 /* padding-bottom: 30px;*/
}

.feat img {
  margin-bottom: 0;
}

.feat_moods {
  background-color: rgba(255,255,255,0.75);
  padding: 50px;
  margin: 25px;
  float: left;
}

h4.moodtitle {
  color: white;
  text-shadow: 2px 2px 12px #fff;
}

.column {
  margin: 0;
  padding: 0;
}

.play_indv {
  min-height: 200px;
  width: 700px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.75);
  padding: 50px;
}

.play_indv > h6,h4 {
  overflow: auto;
  color: black;
  padding-bottom: 15px;
}

.play_indv > img {
  float:left;
  padding-right: 15px;
}

h5.proftitle {
  color: black;
  padding-top: 15px;

}

div.all_likes {
  display: inline-block;
}

.profile_pic_holder {
  width: 200px;
  height: 200px;
  overflow: none;
  margin: 0 auto;
  text-align: center;
}
.profile_pic_holder img {
  border-radius: 100px;
  border: solid #fff;
  overflow: none;
  margin: 0 auto;
  box-shadow: 10px 10px 100px #A8A8A8, 0px 5px 15px #888888 !important;
}

.liked_wrapper {
  max-width: 1100;
}


.profile_pic_holder, .thumbnail img{
  border: solid #fff;
  box-shadow: none;
}

.profile_pic_holder, .thumbnail:focus img {
  border: none;
  box-shadow: none;
}

.profile_liked_holderm, .column img {
  max-width: 200px;
  max-height: 200px;
}



.main_img_container img {
  border: none;
  width: 230px;
  padding-top: 40px;
}



.thumbnail {
  border: none;
  box-shadow: none;
}

.thumbnail:focus, .thumbnail:hover {
  border: none;
  box-shadow: none;
}

.about_content h3 {
  text-align: center;
}

.signup_organizer {
  width: 250px;
  height: 250px;
  padding: 50px 0;
  margin: 0 auto;
}

.featured_playlists .thumbnail {
  max-height: 250px;
  max-width: 250px;
}

.thumbnail img {
  height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.uploader_form_container input {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  cursor: pointer;
}

.mood_list_main {
  background-color: rgba(7, 101, 138, 0.4);
  box-shadow: 7px 7px 30px #FFFEFE, 0px 5px 15px #FFFFFF !important;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
}

.mood_list_main img {
  width:150px;
  border: none;
}


@media only screen and (max-width: 710px) {
  .moods_main {
    padding-left: 20px;
    padding-right: 20px;
    }
  .indmood {
    padding-right: 20px;
  }
}

.infeat {
}


.podcastplayermain {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 50px;
  background-image: url(../images/stormysunset.jpg);
}

.podcastplayer {
  width: 350px;
  min-height: 500px;
  border:solid thin #fff;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  color: #fff;
  background-color: #000;
}

.podcastplayerpic {
  width: 100%;
  height: 200px;
  border-top: solid thin #fff;
  border-bottom: solid thin #fff;
  margin: 0;
}

.podcastplayerpic img {
  width: auto;
  height: 200px;
}

.playlistpagemain {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px 10px 10px 10px;
  background-image: url(../images/landscape1.jpg);
}

.playinfo {
  list-style-type: none;
}
