<div class="column">
  <div class="thumbnail">
    <h5>Hello, <em><%= current_user.name%></em></h5>
    <img class="thumbnail" src="/images/<%= current_user.image%>">
  </div>

  <form action="/users/upload_image" method="POST" enctype="multipart/form-data">
    <input type="file" name="file_data">
    <input type="submit" value="Upload image">
  </form>
</div>

<% @liked_casts = Podcast.all.select {|cast| cast.likes.find_by(user_id: current_user.id) != nil}%>

<div class="row large-up-<%= @liked_casts.length%> text-center">
<h1>Liked Podcasts:</h1>
<hr>
  <% @liked_casts.each do |liked|%>
    <div class="column">
      <h5><%=liked.title%></h5>
      <a href="">
        <img class="thumbnail" src="../../../public/images/avatar.png">
      </a>
    </div>
  <% end %>
</div>
