<div id="container">
  <div class="container_main">
    <div class="main_img_container">
      <img class="thumbnail" src="/images/castOffWht.png">
    </div>
    <h1>Welcome to CastOff!</h1>

    <div class="about_content">
      <h3>A Bit About CastOff</h3>
      <p>
        Have you ever been CRAVING a podcast, trying to figure out which one to listen to, then finally select one only to realize that it's not what you want at all??
      </p>
      <p>
        WE'RE HERE TO HELP!
        <em>Cast Off</em> allows you to select a range of podcasts for you based on the mood you're in at the time.
      </p>
      <% unless current_user %>
        <p>
          <a href="/get_started"><em>Get Started!</em></a>
        </p>
      <% end %>
    </div>



  </div>
</div>
