<div id="container">
  <div class="container_main">

    <h1>Welcome to castR!</h1>

    <div class="about_content">
      <h3>A Bit About castR</h3>
      <p>
        Have you ever been CRAVING a podcast, tring to figure out one you want to listen to, then finally select one ONLY to find out that it's not what you want at all??
      </p>
      <p>
        <h5>WE'RE HERE TO HELP!</h5>
        <em>castR</em> allows you to select a range of podcasts for you based on the mood you're in at the time.
      </p>
      <p>
        <a href="/signup"><em>Get Started!</em></a>
      </p>
    </div>


  </div>
</div>
